<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maxwell.taxhelper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".MCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="moduleName"
                android:value="splash" />
        </activity>
        <activity
            android:name="com.maxwell.taxhelper.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle">
            <meta-data
                android:name="moduleName"
                android:value="main" />
        </activity>
        <activity
            android:name=".AnnualBonusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="moduleName"
                android:value="annualBonus" />
        </activity>
        <activity
            android:name=".SalaryCalculateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="moduleName"
                android:value="salary" />
        </activity>
        <activity
            android:name=".HouseCalculateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="moduleName"
                android:value="house" />
        </activity>
        <activity
            android:name=".CityListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="moduleName"
                android:value="cityList" />
        </activity>
        <activity
            android:name=".AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme">
            <meta-data
                android:name="moduleName"
                android:value="aboutUs" />
        </activity>
        <activity
            android:name=".LatteDownloadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme">
            <meta-data
                android:name="moduleName"
                android:value="latteDownload" />
        </activity>

        <service android:name="com.amap.api.location.APSService"></service>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="87707618dfd3f5bcd9cb9371330e1055" />
        <receiver android:name=".DownloadCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>